body {
    font-family: Hco Gotham SSm, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 550;
    margin: 0;
    padding: 0;
}

*{outline: red solid 1px;}

nav{
    display:flex;
    flex-flow: row wrap;
background-color: #8A1538;
    color: #e0e0e0;
    position: relative;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    overflow:hidden;
}

.logo-title {
    display:flex;
    flex-flow: row wrap;
    margin-left: 0;
    font-size: 30px;
    list-style-type: none;
    overflow: hidden;
    gap: 15px;
    
}

.logo-title li {
    padding: 20px 0px 20px 0px;
}

.start-icon li {
    color: #e0e0e0;
    margin-right: 10px;
    
}

.start-icon li a {
    text-shadow: 5px 5px #000;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding-right: 5%;
    font-size: 22px;
    gap: 15px;
    margin-right: 2%;
}

li {

    color:#e0e0e0;
    justify-content: flex-start;
}

li a {
    text-decoration: none;
    color:#e0e0e0;

}


.nav-item {
        padding: 20px 20px 20px 20px;
        flex: 1 1 auto;
        background-color: #e0e0e0;
        color: #8A1538;
        border: 3px solid #FFB81C;
        box-shadow: 5px 5px #000;
        border-radius: 20px;
        max-width: 100%;
        overflow:hidden;
}

li {

    color:#e0e0e0;
    justify-content: flex-start;
}

li a {
    text-decoration: none;
    color:#e0e0e0;

}


.nav-item{
    display: inline-block;
    transition: 0.2s;
}

.nav-item:hover {
    transform: scale(1.09);
}


.current-link {
    text-decoration: underline;
    text-decoration-color: #e0e0e0;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
    border-color: #00573F;
}

.material-icon{
    font-size: 100%;
    color: #e0e0e0;
}

.start-icon {
    font-size: 15px;
    color: #e0e0e0;
}

.footer {
    display:flex;
    justify-content: end;
    background-color: #00573F;
    color: #e0e0e0;
    text-align: center;
    padding: 3 0 3 3;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

.footer .footer-text {
    margin-left: auto;
    margin-right: 2%;
    text-align: right;
    color: #cccccc;
}

.welcome-section{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    gap:30px;
}

.welcome{

    padding:20px;

    font-size: 50px;
}

.welcome-text{
    font-size: 20px;
    padding-left: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 30%;
    text-align: justify;
}

/*
UPMIN
#7B1113 MAROON
#014421 GREEN
#FDCC0d

UPLB
#8A1538 LIGHT MAROON
#00573F GREEN
#FFB81C GOLD
*/